.navbar{
    width: 100%;
    background-color: lightslategray;
    height: 60px;
}

.nav-brand{
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin-left: 10px;
    padding-top: 13px;
}