<div>
    <form [formGroup]="loginForm">
        <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password</div>
        <div>
            <label>Email</label>
            <input formControlName="email" type="email" placeholder="email">
        </div>
        <div>
            <label>Password</label>
            <input formControlName="password" type="password" placeholder="password">
        </div>

        <button (click)="onlogin()" type="submit">login</button>

    </form>
</div>